<div class="bg-off-white pv4">
  <div class="ph3 mw7 center">
    <h2 class="f2 b lh-title mt0 mb2 tc">{{.heading}}</h2>
    <p class="mt0 mb4 mw6 center">{{.description}}</p>

  {{ if .svg1 }}
    <div class="mhn2-ns mb3">
      <div class="ph2-ns w-50-ns center">
        <img src="{{.svg1}}" alt="" class="center db mb3" style="width: 100%">
        <p class="">{{.text1}}</p>
      </div>
      <div class="ph2-ns w-100-ns center">
        <img src="{{.svg2}}" alt="" class="center db mb3" style="width: 100%">
        <p class="">{{.text2}}</p>
      </div>

</div>

    {{ end }}
  </div>
    {{ if .buttonText }}

        <br>
      <div class="tc">
        <a href="{{.buttonLink}}" class="btn bn w-60 raise">{{.buttonText}}</a>
      </div>

<br>

    {{ end }}
