<div class="container-fluid">
        <div class="contenitoresupremo">

          <div class="">
          	<div class="ph3 mw7 center">
          		<h3 class="f3 b lh-title mb1">Chi Siamo</h3>

          </div>
          </div>

          <div class="team__gallery">



                <figure class="photo">
                  <img src="https://picsum.photos/601/?random" alt="Matteo" width="100%">
                  <figcaption>Matteo</figcaption>
                  <h3>Lorem ipsum</h3>
                  <div class="photo__social_link">

                    <ul class="social_link">
                      <li class="social_link_list"><a href="https://www.linkedin.com/in/giulia-spina-737a2178/"><i class="fa fa-linkedin-square"></i></a></li>
                      <li class="social_link_list"><a href="https://github.com/spinagiu"><i class="fa fa-github-square"></i></a></li>
                      <li class="social_link_list"><a href="https://www.codewars.com/users/spinagiu"><i class="fa fa-code"></i></a></li>
                    </ul>

                  </div>
                </figure>

                <figure class="photo">
                  <img src="https://picsum.photos/602/?random" alt="Giulia" width="100%">
                  <figcaption>Diego</figcaption>
                  <h3>Lorem ipsum</h3>
                  <div class="photo__social_link">
                    <ul class="social_link">
                      <li class="social_link_list"><a href="https://www.linkedin.com/in/giulia-spina-737a2178/"><i class="fa fa-linkedin-square"></i></a></li>
                      <li class="social_link_list"><a href="https://github.com/spinagiu"><i class="fa fa-github-square"></i></a></li>
                      <li class="social_link_list"><a href="https://www.codewars.com/users/spinagiu"><i class="fa fa-code"></i></a></li>
                    </ul>
                  </div>
                </figure>

                <figure class="photo">
                  <img src="https://picsum.photos/603/?random" alt="Claudio" width="100%">
                  <figcaption>Claudio</figcaption>
                  <h3>Lorem ipsum</h3>
                  <div class="photo__social_link">
                    <ul class="social_link">
                      <li class="social_link_list"><a href="https://www.linkedin.com/in/claudio-scafesi-565b27129/"><i class="fa fa-linkedin-square"></i></a></li>
                      <li class="social_link_list"><a href="https://github.com/clodpheasant"><i class="fa fa-github-square"></i></a></li>
                      <li class="social_link_list"><a href="https://www.codewars.com/users/clodpheasant"><i class="fa fa-code"></i></a></li>
                    </ul>
                  </div>
                </figure>

                <figure class="photo">
                  <img src="https://picsum.photos/604/?random" alt="Iannis" width="100%">
                  <figcaption>Martina</figcaption>
                  <h3>Lorem ipsum</h3>
                  <div class="photo__social_link">
                    <ul class="social_link">
                      <li class="social_link_list"><a href="https://www.linkedin.com/in/ianniscamillieri/"><i class="fa fa-linkedin-square"></i></a></li>
                      <li class="social_link_list"><a href="https://github.com/ianniscamillieri"><i class="fa fa-github-square"></i></a></li>
                      <li class="social_link_list"><a href="https://www.codewars.com/users/ianniscamillieri"><i class="fa fa-code"></i></a></li>
                    </ul>
                  </div>
                </figure>

                <figure class="photo">
                  <img src="https://picsum.photos/605/?random" alt="Iannis" width="100%">
                  <figcaption>Matteo</figcaption>
                  <h3>Lorem ipsum</h3>
                  <div class="photo__social_link">
                    <ul class="social_link">
                      <li class="social_link_list"><a href="https://www.linkedin.com/in/mgiacco/"><i class="fa fa-linkedin-square"></i></a></li>
                      <li class="social_link_list"><a href="https://github.com/matjack1"><i class="fa fa-github-square"></i></a></li>
                      <li class="social_link_list"><a href="https://www.codewars.com/users/mat_jack1"><i class="fa fa-code"></i></a></li>
                    </ul>
                  </div>
                </figure>

              </div>
            </div>
          </section>






        </div>
