<div class="container-fluid">
        <div class="contenitoresupremo">

          <div class="">
          	<div class="ph3 mw7 center">
          		<h3 class="f3 b lh-title mb1">Insieme</h3>
          		<p class="mt0 mb4 mw6 center">
          		Cittadini che in forma individuale o associata, professionalmente o meno desiderino uno spazio di affermazione, confronto, riflessione, ascolto circa il tema del Lavoro.
          </p>
          </div>
          </div>

                <div class=" project-sq ">
                    <a href="/project1" class="portfolio-box portfolio-link" data-toggle="modal">
                        <img src="img/about/unacasa.jpg" class="img-responsive" alt="">
                        <div class="a">
                            Una Casa
                        </div>
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">

                                        <div class="project-category text-faded">
                                            Una casa
                                        </div>


                                        <div class="project-name">
                                            ...
                                        </div>

                                </div>
                            </div>

                    </a>
                </div>

                <div class=" project-sq ">
                    <a href="/project6" class="portfolio-box portfolio-link" data-toggle="modal">
                        <img src="img/about/coseek.jpg" class="img-responsive" alt="">
                        <div class="a">
                            Co Seeking
                        </div>
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">

                                        <div class="project-category text-faded">
                                            Co Seeking
                                        </div>


                                        <div class="project-name">
                                            ...
                                        </div>

                                </div>
                            </div>

                    </a>
                </div>

                <div class=" project-sq ">
                    <a href="/project3" class="portfolio-box portfolio-link" data-toggle="modal">
                        <img src="img/about/jobact.jpg" class="img-responsive" alt="">
                        <div class="a">
                            JobAct
                        </div>
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">

                                        <div class="project-category text-faded">
                                            JobAct
                                        </div>


                                        <div class="project-name">
                                            ...
                                        </div>

                                </div>
                            </div>

                    </a>
                </div>

                <!-- <div class=" project-sq ">
                    <a href="/project4" class="portfolio-box portfolio-link" data-toggle="modal">
                        <img src="img/about/tinta.jpg" class="img-responsive" alt="">
                        <div class="a">
                            Quinta Tinta
                        </div>
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">

                                        <div class="project-category text-faded">
                                            Quinta Tinta
                                        </div>


                                        <div class="project-name">
                                            ...
                                        </div>

                                </div>
                            </div>

                    </a>
                </div> -->


                <div class=" project-sq ">
                    <a href="/project5" class="portfolio-box portfolio-link" data-toggle="modal">
                        <img src="img/about/sustainable-farming.jpg" class="img-responsive" alt="">
                        <div class="a">
                            Progetti
                        </div>
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">

                                        <div class="project-category text-faded">
                                            Progetti
                                        </div>


                                        <div class="project-name">
                                            ...
                                        </div>

                                </div>
                            </div>

                    </a>

                </div>




        </div>
    </div>
