<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.png" alt="CAsa del Lavoro" class="db w4 center mb4 br0">


		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mt0 mb1 primary">Spazio Interattivo</h3>
				<ul class="list mt0 mb3 pl0">
					<li><a href="http://www.comune.torino.it/torinogiovani/lavoro
" class="link">Se cerchi lavoro, cerchi informazioni e annunci attendibili</a></li>
					<li><a href="http://work.joblers.net/it/curriculum-vitae/tipi-di-curriculum/" class="link">Per fare un Curriculum Vitae </a></li>
					<li><a href="https://europass.cedefop.europa.eu/it/documents/curriculum-vitae/templates-instructions" class="link">Per fare un Curriculum Europass</a></li>
					<li><a href="https://www.registroimprese.it/home" class="link">Per conoscere un’impresa</a></li>
					<li><a href="https://www.workable.com/hiring-recruiting-software" class="link">Per ricercare personale e per autocandidarsi</a></li>
					<li><a href="http://www.wikilabour.it/Category.aspx" class="link">Per avere risposte alle principali questioni su normative e politiche
</a></li>
					<li><a href="http://www.lavoro.gov.it/temi-e-priorita/poverta-ed-esclusione-sociale/focus-on/Sostegno-per-inclusione-attiva-SIA/Pagine/default.aspx" class="link">Per affrontare la crisi</a></li>
					<li><a href="http://www.refugeeswork.com/" class="link">Refugees at work</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mt0 mb1 primary">Partners</h3>
				<ul class="list mt0 mb3 pl0">
					<li><a href="http://www.diaconiavaldese.org/" class="link">Diaconia Valdese</a></li>
					<li><a href="http://www.torino.coldiretti.it/" class="link">Coldiretti Torino</a></li>
					<li><a href="http://www.uecoop.org/" class="link">Uecoop</a></li>
					<li><a href="http://www.projektfabrik.org/" class="link">Project Fabrik</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mt0 mb2 primary">Social media</h3>
				<ul class="mhn2 mv0 pl0">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/Casa-del-Lavoro-103156086873965/" "svg" "facebook") }}

				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
