<div class="bg-grey-1 pv4">
  <div class="flex-l mhn1-l ph3 center mw7">
    <h2 class="f2 b lh-title mt0 mb2 w-40-l">{{.heading}}</h2>
    <p class="w-60-l mv0"><b>PATCHANKA s.c.s.</b> – <br>
una Cooperativa Sociale che intende moltiplicare la capacità di realizzare la sua mission di creazione di posti di lavoro attraverso un’Agenzia per il Lavoro. <br>
Eroghiamo <b>servizi</b> per il <b>lavoro</b> con accreditamento presso la Regione Piemonte con il codice TO D 83408. <br>
<b>Casa del Lavoro</b> è il nome che abbiamo dato alla nostra Agenzia. <br></p>
  </div>
</div>
