{{ partial "head" . }}
{{ partial "nav" . }}
{{ partial "jumbotron" (dict "imageUrl" "/img/about/jumbotron.jpg" "title" "Una Casa") }}





    <div class="ph3 bg-off-white">
    	<div class="center mw6 pv3">

  	<div class="ph3 mw7 center">
  		<h2 class="f2 b lh-title mt0 mb2">Casa del Lavoro si pone un duplice mandato.</h2>


      <p class="mt0">Crede nello straordinario <b>potere educativo delle Arti</b> e le utilizza nelle proprie attività come strumenti per <b>l’empowerment</b> della persona. <br> <br>
<b>Casa del Lavoro</b> ha scelto di operare all’interno di luoghi di cittadinanza attiva, partecipando allo sviluppo di network fra persone, organizzazioni e comunità. Attraverso la coabitazione l’Offerta della Casa si moltiplica.
Per chi cerca un lavoro diventa l’occasione di non essere solo, sfruttare nuovi passaparola, mantenersi attivo e non depauperare le proprie abilità attraverso una miriade di attività proposte.
Questo è il nostro modo di essere Agenzia per il Lavoro, il Modello CASA del LAVORO.</p>

<!-- {{ partial "2-up" (dict "heading" "test" "description" "test agian" "text1" "testagainolofas" "text2" "texmgiquetjgnlwiqkjrdtng" "svg1" "/img/illustrations/coffee2.svg" "svg2" "/img/about/shade-grown.jpg" ) }} -->
<!-- {{ partial "text-and-image" (dict "heading" "Casa del Lavoro" "text" "crede nello straordinario potere educativo delle Arti e le utilizza nelle proprie attività come strumenti per l’empowerment della persona." "imageUrl" "/img/about/shade-grown.jpg")}} -->

  		<!-- <div class="flex-ns flex-wrap mhn2-ns mb3">

  				<div class="ph2-ns w-50-ns mb4">
  					<img src="/img/illustrations/coffee.svg" alt="" class="center db mb3" style="width: 240px">
  					<p>
  					<li>CASA del LAVORO crede nello straordinario potere educativo delle Arti e le utilizza nelle proprie attività come strumenti per l’empowerment della persona</li>

  </p>
  				</div>

  				<div class="ph2-ns w-50-ns mb4">
  					<img src="/img/illustrations/coffee2.svg" alt="" class="center db mb3" style="width: 240px">
  					<p>
  						<li>CASA del LAVORO ha scelto di operare all’interno di luoghi di cittadinanza attiva, partecipando allo sviluppo di network fra persone, organizzazioni e comunità.</li>
  </p>
  				</div>

  		</div> -->


  <!-- {{ partial "media-block" (dict "heading" "Casa del Lavoro" "text" "crede nello straordinario potere educativo delle Arti e le utilizza nelle proprie attività come strumenti per l’empowerment della persona." "imageUrl" "/img/about/shade-grown.jpg") }}

  {{ partial "media-block-reverse" (dict "heading" "Casa del Lavoro" "text" "ha scelto di operare all’interno di luoghi di cittadinanza attiva, partecipando allo sviluppo di network fra persone, organizzazioni e comunità." "imageUrl" "/img/about/single-origin.jpg") }} -->

</div>
</div>

{{ partial "footer2" . }}



</div>

{{ partial "footer" . }}
