{{ partial "head" . }}

{{ partial "nav" . }}

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">

		<img src="/img/logo22.png" alt="" class="db w4 center pv4">

		<p class="mt0">Casa del Lavoro è un luogo aperto, rivolgiti a noi per avere tutte le informazioni necessarie ad approfondire la tematica del lavoro.
 </p>

		<h3 class="f4 b lh-title mt0 mb2">Spazi Informativi e per L'Orientamento</h3>
		<p class="mt0"><li>Via Rubino 45 – Torino
 c/o Cascina Roccafranca
Venerdì 09.30 – 12.30 con accesso diretto </li>
<li>Via Antonio Cecchi 17 –Torino
 c/o Hub Cecchi Point <b> su appuntamento </b> </li>
<li>Via Panetti 1 – Torino c/o Casa del Quartiere “Casa nel Parco” <b> su appuntamento </b> </li>
</p>

		<div class="flex-ns mb3">

			<div>
				<h4 class="f4 b lh-title mt0 mb2 primary">Torino</h4>
				<p class="mt0"> Via Saccarelli 18 c/o Casa del Quartiere +SpazioQuattro.<br> <br>
				info@casadellavoro.org <br>
+39 392 9354229</p>
			</div>

			<div>
				<h4 class="f4 b lh-title mt0 mb2 primary">Orari</h4>
				<p class="mt0">lunedì: 14.00 -18.00 con accesso diretto <br> <br>
mercoledì: 09.00-13.00 con accesso diretto</p>
			</div>

		</div>
		<p class="mt0">Nelle giornate di martedì (9-13), mercoledì (14-18) e venerdì (9-13) è possibile essere ricevuti su appuntamento ma solo dopo il primo colloquio effettuato nell’orario di apertura con accesso diretto.
L’iscrizione allo sportello è possibile unicamente presentandosi personalmente negli orari di apertura.
</p>

		<div class="flex-ns mb3">

			<div>
				<h4 class="f4 b lh-title mt0 mb2 primary">Luserna</h4>
				<p class="mt0"> via Fuhrmann 23 <br>
c/o complesso “Villa Olanda”.<br> <br>
				info@casadellavoro.org <br>
+39 3341810363</p>
			</div>

			<div>
				<h4 class="f4 b lh-title mt0 mb2 primary">Orari</h4>
				<p class="mt0">lunedì: 14.00 -18.00 con <br> accesso diretto <br> <br>
		martedì: 09.00-13.00 con <br> accesso diretto</p>
			</div>


		</div>

		<p class="mt0">Nelle giornate di lunedì, mercoledì, venerdì dalle 9.00 alle 13.00 è possibile essere ricevuti su appuntamento ma solo dopo il primo colloquio effettuato nell’orario di apertura con accesso diretto. L’iscrizione allo sportello è possibile unicamente presentandosi personalmente negli orari di apertura.



	</div>
</div>

<!-- {{ partial "chisiamo" . }} -->
{{ partial "footer" . }}
