{{ partial "head" . }}
{{ partial "nav" . }}
{{ partial "jumbotron" (dict "imageUrl" "/img/about/jumbotron.jpg" "title" "JobAct") }}

<div class="ph3 bg-off-white">
  <div class="center mw6 pv3">

    <div class="ph3 mw7 center">
      <h2 class="f2 b lh-title mt0 mb2">JobAct® è </h2>
      <h4 class="f4 b lh-title mt0 mb2 primary">Un metodo</h4>
      <p >consiste nell’integrazione fra <b>Orientamento </b>, un percorso riflessivo utile a creare consapevolezza circa le proprie capacità, vocazioni e talenti e <b> Teatro </b>, attività fisiche, di relazione, comunicazione ed azione</p>
    <br>
      <h4 class="f4 b lh-title mt0 mb2 primary">Un'esperienza</h4>
 <li >di lavoro, perché il Teatro è lavoro </li> <li>di squadra </li> <li>di successo </li> <li>di formazione sulle principali abilità personali </li>
<br>
<h4 class="f4 b lh-title mt0 mb2 primary">Un’occasione per comunicare </h4>
<img src="/img/logo222.png" alt="Kaldi logo" class="center">


<br>
<h2 class="f2 b lh-title mt0 mb2">Genera Empowerment, Attivazione autentica, un impatto positivo e diretto sull’Autostima. Per questo è l’ingrediente che ispira tutti i nostri progetti ed i nostri servizi</h2>
<p> <br>CASA del LAVORO è partner di <b>Projekt Fabrik</b> e con essa sviluppa in esclusiva sul territorio Italiano il metodo.


<p>Segui come Casa del Lavoro e i suoi Partner applicano e sviluppano il metodo.</p>
<div class="tc">
  <a href="https://www.projektfabrik.org/index.php/jobact-europe.html" class="btn bn w-100 w-auto-ns raise">Segui</a>
</div>


      <!-- <div class="flex-ns flex-wrap mhn2-ns mb3">

          <div class="ph2-ns w-50-ns mb4">
            <img src="/img/illustrations/coffee.svg" alt="" class="center db mb3" style="width: 240px">
            <p>
            <li>CASA del LAVORO crede nello straordinario potere educativo delle Arti e le utilizza nelle proprie attività come strumenti per l’empowerment della persona</li>

  </p>
          </div>

          <div class="ph2-ns w-50-ns mb4">
            <img src="/img/illustrations/coffee2.svg" alt="" class="center db mb3" style="width: 240px">
            <p>
              <li>CASA del LAVORO ha scelto di operare all’interno di luoghi di cittadinanza attiva, partecipando allo sviluppo di network fra persone, organizzazioni e comunità.</li>
  </p>
          </div>

      </div> -->
    </div>
  </div>

</div>
{{ partial "footer2" . }}

{{ partial "footer" . }}
