{{ partial "head" . }}
{{ partial "nav" . }}
{{ partial "jumbotron" (dict "imageUrl" "/img/about/jumbotron.jpg" "title" "CO_Seeking") }}


{{ partial "short-text5" (dict "heading" "" "description" "" "text2" "Nato dall’incontro con il Partner Fundacìon Santa Maria La Rèal e la loro iniziativa delle Lanzaderas de Empleo Solidario, è il modo in cui Casa del Lavoro supporta gruppi eterogenei di persone alla ricerca del lavoro col fine di migliorare le loro competenze, generare conoscenza collettiva e visibilità, e, contemporaneamente realizzare l’obiettivo comune: ottenere un lavoro. Attraverso una specifica gestione delle dinamiche di gruppo, si avvale della forza generatrice del gruppo per moltiplicare il beneficio offerto ai singoli e la portata dell’impatto con il mercato del lavoro. Coaching di gruppo e individuale, risorse di tempo e spazio, strumenti e supervisione competente sono gli ingredienti." "buttonText" "Scopri di più" "buttonLink" "http://www.lanzaderasdeempleo.es/" ) }}

<div class="bg-off-white pv4">
  <div class="flex-r mhn1-l ph3 center mw7 tc">


      <p class="w-80-l mv0 center"> Segui il progetto sulla pagina Facebook di Casa del Lavoro</p>


      {{ partial "social-icon" (dict "link" "https://www.facebook.com/Casa-del-Lavoro-103156086873965/" "svg" "facebook") }}
  </div>

</div>
{{ partial "footer2" . }}

{{ partial "footer" . }}
