{{ partial "head" . }}
{{ partial "nav" . }}
{{ partial "jumbotron" (dict "imageUrl" "/img/about/jumbotron.jpg" "title" "CO_Seeking") }}

<div class="mw7 center ph3 pt4">


      <div class="bg-off-white pv4">
      	<div class="ph3 mw7 center">
      		<h2 class="f2 b lh-title mt0 mb2">CO_Seeking</h2>
      		<p class="mt0 mb4 mw6"> <br>La sfida sociale che promuoviamo è quella di trasformare il concetto di Agenzia per il Lavoro: da luogo di passaggio, gravato da iter burocratici estenuanti o eccessivamente orientato all’esclusivo match fra domanda e offerta del lavoro – ciò che genera dinamiche di mera “caccia al profilo professionale migliore” - a luogo di Formazione, punto di riferimento e networking reale permanente a favore dei cittadini oggi disoccupati.


      	</div>
      </div>
</div>
{{ partial "footer2" . }}

{{ partial "footer" . }}
