{{ partial "head" . }}
{{ partial "nav" . }}
{{ partial "jumbotron" (dict "imageUrl" "/img/about/jumbotron.jpg" "title" "Lavora con Noi") }}


<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">

{{ partial "short-text3" (dict "heading" "Invia una candidatura!" "description" "Compila il form online al seguente link:" "text2" "" "buttonText" "CANDIDATI" "buttonLink" "https://forms.gle/69HdcPtYpRskhALy5" ) }}


<!-- {{ partial "contact-form" . }} -->
</div>
</div>


<!-- {{ partial "chisiamo" . }} -->




{{ partial "footer" . }}
